


.sign {
    height: 80px;
    width: 50%;
    color: black;
  
    font-style: italic;
  
    text-align: center;
    margin-top: 40px;
    
   }
   .form{
     width:600px;
     height:500px;
    
   }
   .inside{
     margin-top:20px;  
     width:230px;
     height:40px;
     font-size:18px;
     text-align: center;
     background-color:rgb(241, 227, 239);
     border: 1px solid black;

   }
   button{
    width:100px;
    height:40px;
    font-size:16px;
    background-color:lavender;
    color:black;

   }
   