.dashboard {
  height: 100%;
  width: 25%;
  border:1px solid lightgray;
}

.new {
  height: 80px;
  width: 100%;
  color: purple;

  font-style: italic;

  text-align: center;
  margin-top: 20px;
  border-radius:1px solid lightgray;
}
