.dues {
  margin-top: 20px;
}

.heads {
  background-color: plum;
  height: 80px;
  border: 2px solid purple;
}
.notify {
  width: 50%;
  height: 80px;
}
.notification {
  border: 2px solid purple;
  width: 50%;
  height: 60px;

  color: black;
  font-style: italic;
  background-color: plum;
  text-align: center;
  margin-top: 10px;
  border-right: 1px solid purple;
  text-align: center;
}
.my {
  font-size: 30px;
  font-style: italic;
  color: purple;
  margin-right: 30px;

  margin-top: 10px;
}

.duesTable {
  color: red;
  font-weight: bold;
  background-color: lightgoldenrodyellow;
  font-size: 16px;
  border: 1px solid blue;
  margin-right: 20px;
  margin-top: 10px;
}
.table2 {
  /* background-color: lavenderblush; */
  width: 500px;
  
}

.table3 {
  background-color:lightcyan;
  width: 300px;
  
}

.td {
  margin-right: 30px;
}
.duesForm {
  margin-top: 30px;
  font-size: 18px;
  background-color: mediumslateblue;
  color: white;
  font-style: normal;
  border: 1px solid blue;
}
.RecieveForm {
  margin-top: 30px;
  font-size: 18px;
  background-color: rgb(160, 13, 140);
  color: white;
  font-style: normal;
}
