.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  font-weight: bold;
  height:900px;
  
  
 }
 .log{
   width:100%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */

 }

 .sign {
  height: 80px;
  width: 100%;
  color: black;

  font-style: italic;

  text-align: center;
  margin-top: 20px;
  background-color: brown;
 }
 
.main {
  display: flex;
  justify-content: space-around;

  
}
.dashbaord {
  border: 1 px solid #c01d97;
  background-color: gray;
}
.welcome{
  font-size: 35px;
  justify-content: center;
  align-items: center;
  color: rgb(129, 32, 153);
  font-style:italic;
  

}
.dash{
   font-style: normal;
   color:black;
   font-weight: bold;


}

.friends{

  font-size: 20px;
  font-style: italic;
  background-color: rgb(221, 178, 221);
  border: 2px solid purple;
  



}
